@font-face {
	font-family: 'Karrik Regular';
	src: url('/fonts/Karrik-Regular.woff2') format('woff2'),
	     url('/fonts/Karrik-Regular.woff') format('woff'),
	     url('/fonts/Karrik-Regular.ttf') format('truetype');
	font-display: swap;
}